[bumpversion]
current_version = 3.1.4
commit = False
tag = False

[bumpversion:file:Makefile]

[bumpversion:file:main.go]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = bumpversion-example {current_version}
replace = bumpversion-example {new_version}
